{{log this}}
{{#each (groupBy this "groups")}}
  {{log "Group:"}}
  {{log this}}
  <div class="group-header">
    <h2>{{groupName}}</h2>
  </div>
  <div class="container">
    {{#each items}}
      {{log "Item in group:"}}
      {{log this}}
      <div data-item="{{@../index}}-{{@index}}" class="card">
        {{#if week}}
          <h1>Week {{week}} - Session {{session}}</h1>
        {{else}}
          <h1>{{name}}</h1>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/each}}